<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>TestAdoptionApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.companyname.TestAdoptionApp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>TestAdoptionApp</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Mosk_Bold_700.ttf</string>
		<string>Mosk_Extra_Bold_800.ttf</string>
		<string>Mosk_Extra_Light_200.ttf</string>
		<string>Mosk_Light_300.ttf</string>
		<string>Mosk_Medium_500.ttf</string>
		<string>Mosk_Normal_400.ttf</string>
		<string>Mosk_Semi_Bold 600.ttf</string>
		<string>Mosk_Thin_100.ttf</string>
		<string>Mosk_Ultra_Bold_900.ttf</string>
	</array>
</dict>
</plist>
